@use "global" as *;

.layout-footer {
  margin-top: rem(100);
  @include mq("md") {
    margin-top: rem(160);
  }
}
.layout-footer--contact {
  margin-top: rem(143);
}
.layout-footer--thanks {
  margin-top: rem(143);
  @include mq("md") {
    margin-top: rem(120);
  }
}
.layout-footer.layout-footer--404 {
  margin-top: rem(39);
  @include mq("md") {
    margin-top: rem(149);
  }
}