@use "global" as *;

.about-us {
  @include mq("md") {
    position: relative;
  }
}
.about-us::after {
  @include mq("md") {
    content: "";
    position: absolute;
    bottom: rem(-90);
    right: max(calc(50% - 39.8rem), rem(16));
    width: rem(194);
    height: rem(181);
    background-image: url(../images/svg/coral_sea-anemone.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.about-us__inner {
  max-width: rem(600);
  width: 100%;
  @include mq("md") {
    position: relative;
    max-width: $inner + strip-unit($padding-pc) * 2;
  }
}
.about-us__images {
  position: relative;
  margin-top: rem(50);
  @include mq("md") {
    margin-top: rem(116);
  }
}
.about-us__images picture {
  display: block;
  width: inherit;
}
.about-us__images picture:first-of-type img {
  width: calc(100% - ((64 / 345) * 100%));
  height: auto;
  margin-left: auto;
  object-fit: cover;
  @include mq("md") {
    width: calc(100% - ((200 / 1080) * 100%));
  }
}
.about-us__images picture:last-of-type img {
  position: absolute;
  top: rem(-26);
  left: 0;
  width: calc(100% - ((217 / 345) * 100%));
  height: auto;
  object-fit: cover;
  @include mq("md") {
    top: rem(-80);
    width: calc(100% - ((680 / 1080) * 100%));
  }
}
.about-us__content {
  margin-top: rem(40);
  @include mq("md") {
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 40%;
    left: calc(100% - ((840 / 1080) * 100%) - 25px);
    width: calc(100% - ((240 / 1080) * 100%));
    margin-top: 0;
  }
}
.about-us__content-left {
  width: 100%;
}
.about-us__content-right {
  width: 100%;
  margin-top: rem(16);
  @include mq("md") {
    margin-top: 0;
    margin-left: rem(37);
    margin-right: rem(40);
  }
}
.about-us__title {
  color: $accent;
  font-size: rem(40);
  font-weight: $regular;
  line-height: 1;
  font-family: $english-font-family;
  @include mq("md") {
    color: $white;
    font-size: rem(80);
    line-height: calc(100 / 80);
    width: inherit;
  }
}
.about-us__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  color: $black;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(24 / 16);
  @include mq("md") {
    color: $white;
  }
}
.about-us__button {
  text-align: center;
  padding-bottom: rem(4);
  margin-top: rem(50);
  @include mq("md") {
    margin-top: rem(40);
  }
}