@use "global" as *;

.archive-campaign-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(39);
  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(80);
    column-gap: rem(40);
  }
}
.archive-campaign-cards__card {
  width: vw(375, 280);
  max-width: rem(520);
  margin-inline: auto;
  @include mq("md") {
    width: 100%;
  }
}