@use "global" as *;

.blog-article {
  width: 100%;
}
.blog-article__time {
  display: block;
  color: $black;
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(18 / 14);
  font-family: $english-font-family;
}
.blog-article__title {
  margin-top: rem(14);
  @include mq("md") {
    margin-top: rem(16);
  }
}
.blog-article__title h1 {
  color: $black;
  font-size: rem(24);
  font-weight: $medium;
  line-height: 1;
  padding-bottom: rem(8);
  border-bottom: 1px solid $accent;
  @include mq("md") {
    font-size: rem(32);
    padding-bottom: rem(6);
  }
}
.blog-article__thumbnail {
  margin-top: rem(24);
  @include mq("md") {
    margin-top: rem(40);
  }
}
.blog-article__thumbnail img {
  aspect-ratio: 345 / 231;
  width: 100%;
  height: auto;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 700 / 468;
  }
}
.blog-article__content {
  p {
    color: $black;
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(24 / 16);
    margin-top: rem(24);
    @include mq("md") {
      margin-top: rem(40);
    }
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: rem(24);
    @include mq("md") {
      margin-top: rem(39);
    }
  }

  ul, ol {
    margin-top: rem(24);
    @include mq("md") {
      margin-top: rem(40);
    }
  }

  li {
    position: relative;
    color: $black;
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(24 / 16);
    padding-left: rem(27);

    &:not(:first-child) {
      margin-top: rem(4);
    }

    &::before {
      content: "";
      position: absolute;
      top: rem(3);
      left: 0;
      width: rem(18);
      height: rem(18);
      mask-image: url(../images/svg/starfish.svg);
      mask-size: cover;
      mask-repeat: no-repeat;
      background-color: $accent;
    }
  }
}