@use "global" as *;

.blog-card {
  display: block;
  width: 100%;
  background-color: $white;
  box-shadow: 2px 2px 10px rgba($shadow, 0.25);
}
@media (hover) {
  .blog-card:hover {
    .blog-card__image picture img {
      transform: scale(1.1);
    }
  }
}
.blog-card__inner {
  padding: rem(16) rem(16) rem(24);
  background-color: $white;
}
.blog-card__image {
  overflow: hidden;
  margin-inline: auto;
}
.blog-card__image picture {
  display: block;
  width: inherit;
}
.blog-card__image picture img {
  aspect-ratio: 301 / 201;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.6s;
}
.blog-card__content {
  margin-top: rem(16);
}
.blog-card__time {
  color: $black;
  font-size: rem(12);
  font-weight: $regular;
  line-height: calc(18 / 12);
  font-family: $english-font-family;
}
.blog-card__title {
  color: $black;
  font-size: rem(16);
  font-weight: $medium;
  line-height: calc(24 / 16);
  padding-bottom: rem(4);
  border-bottom: 1px solid $accent;
}
.blog-card__text {
  color: $black;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(24 / 16);
  margin-top: rem(16);
}