@use "global" as *;

//////////////////
// トップへ戻るボタン
//////////////////
body{
  position: relative; 
}

//////////////////
// ローディングアニメーション中のスクロール禁止
//////////////////
body.no-scroll {
  overflow: hidden;
}

//////////////////
// モーダル開閉時のスクロールバー幅分のガタつきを解消
//////////////////
body.is-scroll-lock {
  position: fixed;
  overflow-y: scroll; // スクロールバーを表示させたままにする
}

//////////////////
// ハンバーガーメニュー
//////////////////
body.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
//////////////////
// 404
//////////////////
body.is-404 {
  background-color: $accent;
}