@use "global" as *;

.contact-form__row {
  padding-bottom: rem(24);
  border-bottom: 1px dashed $accent;
  @include mq("md") {
    display: flex;
    align-items: flex-start;
    padding-bottom: rem(39);
  }
}
.contact-form__row:not(:first-of-type) {
  margin-top: rem(24);
  @include mq("md") {
    margin-top: rem(40);
  }
}
.contact-form__row:has(fieldset) {
  padding-bottom: rem(26);
  @include mq("md") {
    padding-bottom: rem(39);
  }
}
.contact-form__row:has(textarea) {
  padding-bottom: rem(18);
  @include mq("md") {
    padding-bottom: rem(34);
  }
}
.contact-form__row dt label,
.contact-form__row fieldset legend {
  display: flex;
  align-items: center;
  gap: rem(8);
  text-align: center;
  color: $black;
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(20 / 16);
  padding: 0;
  @include mq("md") {
    width: rem(220);
  }

  & span {
    color: $white;
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1;
    letter-spacing: 0.4em;
    text-indent: 0.4em;
    background-color: $red;
    padding: rem(5) rem(11);
  }
}
.contact-form__row dd {
  width: 100%;
  margin-top: rem(16);
  @include mq("md") {
    max-width: calc(100% - rem(220));
    margin-top: 0;
  }
}
.contact-form__row dd:has(select) {
  position: relative;
  margin-top: rem(18);
  @include mq("md") {
    margin-top: rem(-3);
  }

  &::after {
    content: "";
    position: absolute;
    top: rem(12);
    right: rem(8);
    width: rem(12);
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    background-color: $accent;
  }
}
input[type="text"],
input[type="email"],
input[type="tel"] {
  display: block;
  color: $black;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1;
  width: 100%;
  border: 1px solid $accent;
  padding: rem(7) rem(16);

  &::placeholder {
    color: $pastel;
  }
}
fieldset {
  display: contents;
}
.contact-form__fieldset-content {
  margin-top: rem(18);
  @include mq("md") {
    margin-top: rem(4);
  }
}
select {
  display: block;
  color: $black;
  font-size: rem(12);
  font-weight: $regular;
  line-height: 1;
  width: 100%;
  border: 1px solid $accent;
  padding: rem(13) rem(8);
  @include mq("md") {
    padding: rem(8);
  }
}
textarea {
  width: 100%;
  height: rem(200);
  border: 1px solid $accent;
  padding: rem(8);
}
.contact-form__privacy {
  padding-inline: rem(31);
  margin-top: rem(40);
  @include mq("md") {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(80);
  }
}
.contact-form__submit {
  text-align: center;
  padding-bottom: rem(4);
  margin-top: rem(24);
  @include mq("md") {
    margin-top: rem(41);
  }
}
.contact-form__submit-button {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: rem(12);
  width: rem(202);
  background-color: $accent;
  border: 1px solid $accent;
  padding: rem(15);
  margin-left: rem(-3);
  z-index: 1;
}
.contact-form__submit-button::before {
  content: "";
  position: absolute;
  top: rem(4);
  left: rem(3);
  width: 101%;
  height: 101%;
  background-color: transparent;
  border: 1px solid $accent;
  z-index: -1;
}
.contact-form__submit-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.2s cubic-bezier(0.44, 0, 0.5, 1);
  z-index: -1;
}
.contact-form__submit-button span:last-child {
  display: block;
  width: rem(43);
  height: rem(7);
  border-bottom: 1px solid $white;
  border-right: 2px solid $white;
  transform: skew(50deg);
  margin-top: rem(-3);
}
@media (any-hover: hover) {
  .contact-form__submit-button:hover::after {
    transform: scale(1, 1);
  }
  .contact-form__submit-button:hover {
    .wpcf7-submit {
      color: $accent;
    }
  }
  .contact-form__submit-button:hover span:last-child {
    border-color: $accent;
  }
}