@use "global" as *;

.contact-form__error {
  text-align: center;
  margin-bottom: rem(40);
}
.contact-form__error-message {
  display: inline-block;
  text-align-last: left;
  color: $red;
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(20 / 14);
}
.contact-form__row {
  padding-bottom: rem(24);
  border-bottom: 1px dashed $accent;
  @include mq("md") {
    display: flex;
    align-items: flex-start;
    padding-bottom: rem(39);
  }
}
.contact-form__row--checkbox {
  padding-bottom: rem(26);
  @include mq("md") {
    padding-bottom: rem(39);
  }
}
.contact-form__row.contact-form__row--textarea {
  padding-bottom: rem(18);
  @include mq("md") {
    padding-bottom: rem(34);
  }
}
.contact-form__row:not(:first-of-type) {
  margin-top: rem(24);
  @include mq("md") {
    margin-top: rem(40);
  }
}
.contact-form__row dt,
.contact-form__row fieldset legend {
  @include mq("md") {
    width: rem(220);
  }
}
.contact-form__row dt label,
.contact-form__row fieldset legend {
  display: flex;
  align-items: center;
  gap: rem(8);
  text-align: center;
  color: $black;
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(20 / 16);
  padding: 0;
  & span {
    color: $white;
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1;
    letter-spacing: 0.4em;
    text-indent: 0.4em;
    background-color: $red;
    padding: rem(5) rem(11);
  }
}
.contact-form__row dd {
  width: 100%;
  margin-top: rem(16);
  @include mq("md") {
    max-width: calc(100% - rem(220));
    margin-top: 0;
  }
}
.contact-form__row.contact-form__row--select dd {
  position: relative;
  margin-top: rem(18);
  @include mq("md") {
    margin-top: rem(-3);
  }
}
.contact-form__row.contact-form__row--select dd::after {
  content: "";
  position: absolute;
  top: rem(12);
  right: rem(8);
  width: rem(12);
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  background-color: $accent;
}
.contact-form__fieldset-content {
  margin-top: rem(18);
  @include mq("md") {
    margin-top: rem(4);
  }
}
.contact-form__fieldset-item:not(:first-child) {
  margin-top: rem(7);
}
.contact-form__fieldset-item label {
  position: relative;
}
.contact-form__privacy {
  padding-inline: rem(31);
  margin-top: rem(40);
  @include mq("md") {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(80);
  }
}
.contact-form__privacy label {
  position: relative;
}
.contact-form__submit {
  text-align: center;
  padding-bottom: rem(4);
  margin-top: rem(24);
  @include mq("md") {
    margin-top: rem(41);
  }
}
fieldset {
  display: contents;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
  display: block;
  color: $black;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1;
  width: 100%;
  border: 1px solid $accent;
  padding: rem(7) rem(16);
  &::placeholder {
    color: $pastel;
  }
  &.is-invalid {
    border: 1px solid $red;
    background-color: rgba($color: $red, $alpha: 0.2);
    &::placeholder {
      color: $white;
    }
  }
}
select {
  display: block;
  color: $black;
  font-size: rem(12);
  font-weight: $regular;
  line-height: 1;
  width: 100%;
  border: 1px solid $accent;
  padding: rem(13) rem(8);
  @include mq("md") {
    padding: rem(8);
  }
}
textarea {
  width: 100%;
  height: rem(200);
  border: 1px solid $accent;
  padding: rem(8);
  &.is-invalid {
    border: 1px solid $red;
    background-color: rgba($color: $red, $alpha: 0.2);
  }
}
.contact-form__fieldset-item input[type="checkbox"] {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  + span {
    position: relative;
    display: block;
    color: $black;
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(20 / 16);
    padding-left: rem(22);
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: rem(14);
      height: rem(14);
      border: 1px solid $accent;
    }
    &::after {
      content: "";
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
  &:checked {
    + span {
      &::after {
        content: "";
        position: absolute;
        display: block;
        top: rem(9);
        left: rem(2);
        transform: translateY(-50%) rotate(-45deg);
        width: calc(rem(14) * 0.7);
        height: calc(rem(14) * 0.4);
        border-left: 2px solid $red;
        border-bottom: 2px solid $red;
        opacity: 1;
      }
    }
  }
  &:focus-visible + span {
    &::before {
      box-shadow: 0 0 0 2px rgba($accent, 0.6);
    }
  }
}
.contact-form__privacy input[type="checkbox"] {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  + span {
    position: relative;
    display: block;
    color: $black;
    font-size: rem(14);
    font-weight: $regular;
    line-height: calc(22 / 14);
    padding-left: rem(30);
    @include mq("md") {
      padding-left: rem(36);
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: rem(22);
      height: rem(22);
      border: 1px solid $accent;
    }
    &::after {
      content: "";
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
  &:checked {
    + span {
      &::after {
        content: "";
        position: absolute;
        display: block;
        top: rem(9);
        left: rem(3);
        transform: translateY(-50%) rotate(-45deg);
        width: calc(rem(22) * 0.7);
        height: calc(rem(22) * 0.4);
        border-left: 2px solid $red;
        border-bottom: 2px solid $red;
        opacity: 1;
      }
    }
  }
  &:focus-visible + span {
    &::before {
      box-shadow: 0 0 0 3px rgba($accent, 0.6);
    }
  }
}