@use "global" as *;

.contact-right__info {
  color: $accent;
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(18 / 14);
  text-align: center;
  margin-top: rem(5);
}
.contact-right__button {
  text-align: center;
  padding-bottom: rem(4);
  margin-top: rem(40);
}