@use "global" as *;

.information {
  background-color: $pastel;
  padding-top: rem(80);
  padding-bottom: rem(80);
  @include mq("md") {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}
.information__inner {
  max-width: rem(600);
  width: 100%;
  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
  }
}
.information__body {
  margin-top: rem(25);
  @include mq("md") {
    display: flex;
    align-items: center;
    margin-top: rem(37);
  }
}
.information__image {
  width: 100%;
  @include mq("md") {
    max-width: 50%;
  }
}
.information__image picture {
  display: block;
  width: inherit;
}
.information__image picture img {
  aspect-ratio: 345 / 227;
  width: 100%;
  height: auto;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 540 / 356;
  }
}
.information__content {
  margin-top: rem(25);
  @include mq("md") {
    max-width: rem(492);
    width: 100%;
    margin-top: 0;
    margin-left: rem(45);
  }
}
.information__title {
  color: $black;
  font-size: rem(20);
  font-weight: $bold;
  line-height: calc(24 / 20);
  padding-bottom: rem(2);
  border-bottom: 1px solid $accent;
  @include mq("md") {
    font-size: rem(24);
    line-height: 1;
    padding-bottom: rem(8);
  }
}
.information__text {
  color: $black;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(24 / 16);
  margin-top: rem(7);
  @include mq("md") {
    margin-top: rem(8);
  }
}
.information__button {
  text-align: center;
  padding-bottom: rem(4);
  margin-top: rem(40);
}