@use "global" as *;

.nav {
  color: $white;
}
.nav--sitemap {
  color: $black;
}
.nav__items {
  column-count: 2;
  column-gap: rem(30);
  padding-left: rem(22);
  margin-right: -15px;
  @include mq("md") {
    column-count: 4;
    column-gap: rem(44);
    padding-left: rem(22);
    margin-right: 0;
  }
}
.nav__items--sitemap {
  column-gap: rem(50);
  @include mq("md") {
    column-gap: rem(139);
  }
}
.nav__item {
  width: 100%;
  margin-top: rem(40);
}
.nav__item:first-child,
.nav__item:nth-child(5) {
  margin-top: 0;
}
.nav__item:nth-child(3),
.nav__item:nth-child(7) {
  @include mq("md") {
    margin-top: 0;
  }
}
.nav__item > a {
  position: relative;
  display: block;
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(18 / 16);
}
.nav__item > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: rem(-22);
  width: rem(18);
  height: rem(18);
  mask-image: url(../images/svg/starfish.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
  background-color: $white;
}
.nav__items--sitemap {
  .nav__item > a::before {
    background-color: $black;
  }
}
.nav__small-item {
  margin-top: rem(24);
}
.nav__small-item > a {
  display: block;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(18 / 16);
}
@media (any-hover: hover) {
  .nav__item > a:hover {
    opacity: 0.7;
  }
  .nav__small-item > a:hover {
    opacity: 0.7;
  }
}