@use "global" as *;

.page-information__inner {
  position: relative;
  max-width: rem(600);
  width: 100%;
  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
  }
}
.page-information__card {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: rem(24);
  }
}