@use "global" as *;

.section-header {
  text-align: center;
}
.campaign__inner > .section-header {
  padding-left: 10px; // swiperの余白調整
}
.section-header__title {
  text-transform: capitalize;
  font-size: rem(32);
  font-weight: $regular;
  line-height: calc(40 /32);
  font-family: $english-font-family;
  @include mq("md") {
    font-size: rem(40);
    line-height: 1;
  }
}
.section-header__title::first-letter {
  color: $accent;
}
.section-header__title--white {
  color: $black;
  @include mq("md") {
    color: $white;
  }
}
.section-header__title--white::first-letter {
  color: $accent;
  @include mq("md") {
    color: $pastel;
  }
}
.section-header__title--about-us {
  text-transform: none;
}
.section-header__title--about-us::first-letter {
  text-transform: uppercase;
}
.section-header__title--large {
  font-size: rem(80);
  line-height: 1;
  margin-left: rem(-9);
  @include mq("md") {
    font-size: rem(80);
    margin-left: 0;
  }
}
.section-header__subtitle {
  color: $accent;
  font-size: rem(12);
  font-weight: $regular;
  line-height: calc(26 / 12);
  @include mq("md") {
    margin-top: rem(3);
  }
}
.section-header__subtitle--white {
  color: $accent;
  @include mq("md") {
    color: $white;
  }
}
.section-header__subtitle--large {
  margin-top: rem(-11);
  @include mq("md") {
    margin-top: rem(-10);
  }
}