@use "global" as *;

.side-section-header {
  position: relative;
  border-left: 8px solid $accent;
  padding-top: rem(15);
  padding-bottom: rem(11);
}
.side-section-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: rem(16);
  width: rem(50);
  height: rem(50);
  mask-image: url(../images/svg/whale.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
  background-color: $black;
}
.side-section-header__title {
  font-size: rem(24);
  font-weight: $regular;
  line-height: 1;
  margin-left: rem(74);
}