@use "global" as *;

.sp-nav {
  position: fixed;
  inset: 0;
  width: 100%;
  height: calc(100svh - rem(80));
  background-color: $accent;
  margin-top: rem(80);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s;
  z-index: 9;
  overflow-y: scroll;
}
.is-open .sp-nav {
  opacity: 1;
  visibility: visible;
}
.sp-nav__items {
  column-count: 2;
  column-gap: rem(23);
  padding-left: rem(22);
  margin-top: rem(24);
}
.sp-nav__item {
  width: max-content;
  margin-top: rem(40);
}
.sp-nav__item:first-child {
  margin-top: 0;
}
.sp-nav__item > a {
  display: block;
  position: relative;
  color: $white;
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(18 / 16);
}
.sp-nav__item > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: rem(-22);
  width: rem(18);
  height: rem(18);
  mask-image: url(../images/svg/starfish.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
  background-color: $white;
}
.sp-nav__small-item {
  margin-top: rem(24);
}
.sp-nav__small-item > a {
  display: block;
  color: $white;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(18 / 16);
}