@use "global" as *;

// WordPress化に対応し、セレクタを変更
// 本文中の余白(margin-top)は、WordPress管理画面のスペーサーで対応
.terms__title {
  color: $black;
  font-size: rem(24);
  font-weight: $medium;
  line-height: 1;
  @include mq("md") {
    font-size: rem(32);
  }
}
.terms__content {
  color: $black;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(32 / 16);
  margin-top: rem(45);
}
.terms__content ul,
.terms__content ol {
  list-style: decimal;
  margin-left: rem(24);
}