@use "global" as *;

.wp-pagenavi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(12);
}
.wp-pagenavi--single {
  gap: rem(82);
  @include mq("md") {
    margin-left: rem(-30);
  }
}
.previouspostslink {
  position: relative;
  margin-right: rem(28);
}
.nextpostslink {
  position: relative;
  margin-left: rem(28);
}
.wp-pagenavi--single > .previouspostslink {
  margin-right: 0;
}
.wp-pagenavi--single > .nextpostslink {
  margin-left: 0;
}
.previouspostslink::before {
  content: "";
  position: absolute;
  top: rem(12);
  left: rem(16);
  transform: rotate(45deg);
  width: rem(12);
  height: rem(12);
  border-bottom: 1px solid $accent;
  border-left: 1px solid $accent;
}
.nextpostslink::before {
  content: "";
  position: absolute;
  top: rem(12);
  left: rem(8);
  transform: rotate(-45deg);
  width: rem(12);
  height: rem(12);
  border-bottom: 1px solid $accent;
  border-right: 1px solid $accent;
}
.wp-pagenavi a, .wp-pagenavi span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: rem(38);
  height: rem(38);
  color: $accent;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1;
  font-family: $sub-english-font-family;
  border: 1px solid $accent;
  transition: color 0.2s, background-color 0.2s, height 0.2s;
}
@media (hover) {
  .wp-pagenavi a:hover {
    color: $white;
    background-color: $accent;
  }
  .previouspostslink:hover::before,
  .nextpostslink:hover::before {
    border-color: $white;
  }

}
.wp-pagenavi .current {
  color: $white;
  background-color: $accent;
}